@using ClinicaPilotagemWeb.Resources
@{
    ViewBag.Title = Language.Contact;
}

<h2>@ViewBag.Title.</h2>
<h3>@Language.YourContactPage.</h3>

<address>
    @ViewBag.ContactEnderecoLinha1<br />
    @ViewBag.ContactEnderecoLinha2<br />
    <abbr title="@Language.Phone" alt="@Language.Phone">@Language.Phone:</abbr> @ViewBag.Fone
</address>

<address>
    <strong>@Language.Support:</strong>   <a href="mailto:@ViewBag.ContactEmailSupport">@ViewBag.ContactEmailSupport</a><br />
    <strong>@Language.Marketing:</strong> <a href="mailto:@ViewBag.ContactEmailMarketing">@ViewBag.ContactEmailMarketing</a>
</address>